@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Joel has many links and products! He is also a man. He has parents and a face.</p>
<br />
<a href="https://www.qwcomedy.com/">Comedy Link</a>
<br />
<a href="https://baconsale.com/">Bacon Link</a>
<br />
<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate.jpg" width="50%" />
</a>
<br />